.stepperbtn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: max-content;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 30px 60px -12px inset, rgba(255, 255, 255, 0.3) 0px 18px 36px -18px inset;
    border-radius: 2rem;    
    padding: 15px 32px;
    label{
        margin-left: 1rem;
    }
}