.custom-underline{
    width: 10rem;
    background: linear-gradient(#3d5afe, #8c9eff);
    height: 5px;
    border-radius: 5rem;
    margin-top: 1rem;
    margin-bottom:2rem;
    margin-left: auto;
    margin-right: auto;
}