@import '../../styles/typography';


.cust-Button{
    // padding: 0.7rem 1rem;
}

.xs{
    font-size: x-small;
}
.sm{
    font-size: small;
}
.md{
   font-size: medium;
}

.lg{
    font-size: large;
}

.xl{
    font-size: x-large;
}