@import '../../styles/values';

.footer{
    .contact-us{
        padding-left: 3rem;
        padding-top: 5rem;
       display: flex;
       align-items: center;
        height: max-content;
        background-color: $secondary;
        opacity: 9;
        // background-position: co;
        background-size: contain;
        width: 100%;
        h1{
            color: $major;
            font-weight: 300;
        }
        p{
            color: $major;
            margin-bottom: 3rem;
        }
        input{
            font-size: large;
            width: max-content;
            padding: 15px 15px;
            border-radius: 1rem;
            margin-right: 1rem;
        }
    }
}